<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite" preserve-order="true" group-by-instances="true">

	<test name="POC_TC01_GrabLockIssue">
		<classes>
			<class name="net.element.crm.tests.POC_TC01_GrabLockIssue" />
		</classes>
	</test>
	
	<!-- <test name="Sample Test Case 01" >
		<classes>
			<class name="net.element.crm.tests.POC_TC02_None" />
		</classes>
	</test>
	
	<test name="Sample Test Case 02" >
		<classes>
			<class name="net.element.crm.tests.POC_TC03_None" />
		</classes>
	</test> -->
	
</suite>
